*{
  outline: none;
}

a{
  color: #b17a31;
}

a:hover{
  color: #d6a86c;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.block{
  display: inline-block;
  margin: auto;
  align-items: center;
}

/* Стиль для шапки */
header{
  background-color: antiquewhite;
  color: #d6a86c;
  justify-content: space-between;
}

#items{
  margin: auto;
}

#logo{
  margin: auto;
}

.nav-link{
  color: #a06623!important;
}

.nav-link:hover{
  color: #d6a86c!important;
}

#profile_link{
  margin: auto;
}

.wrapper {
  display: flex;
}

#exitBtn{
  color: #FFFFFF!important;
  border: none;
  background-color: #a06623!important;
  margin: auto;
}

#exitBtn:hover{
  background-color:  #d6a86c!important;
  color: #FFFFFF!important;
}

/* Стиль для контейнера таблицы */
body {
  background-color: antiquewhite;
}

.container {
  background-color: #d6a86c;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

/* Стиль для таблицы */
table {
  width: 100%;
  margin-bottom: 20px;
  background-color: antiquewhite;
  border-radius: 20px;
}

#myTable tr:hover{
  background-color: rgb(245, 219, 188)!important;
}

#myTable th.sorting_asc,
  #myTable th.sorting_desc {
  background-color: rgb(245, 219, 188)!important;
}

th, td {
  padding: 12px;
  text-align: left;
}

td a {
  margin-top: 2%;
}

th {
  background-color: transparent!important;
  color: #6b3d08;
}

.th_head{
  font-weight: normal!important;
}

.edit-row {
  background-color: #d6a86c;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 2%;
  margin-top: 2%!important;
}

/* Стиль для формы добавления данных */
form#add-form {
  background-color: antiquewhite;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

form#add-form input[type="text"] {
  display: block;
  margin-bottom: 10px;
  border: 2px solid #d6a86c;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

form#add-form button[type="submit"] {
  background-color: #d6a86c;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}
  
  /* Стиль для кнопок удаления и редактирования */

  
.dataTables_filter input {
  border-radius: 4px;
  margin-right: 15%!important;
  margin-bottom: 8%;
  content: "dfdfd";
  color: #999;
}

.dataTables_wrapper {
  margin-left: 5%;
  margin-right: 5%;
}

#createUserModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

#createUserModalContent {
 position: absolute;
 top: 50%;
 left: 50%;
 width: 28%;
 background: #FFFFFF;
 padding: 5px;
 transform: translate(-50%, -50%);
 border-radius: 4%;
 padding-top: 60px;
}

.popup-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}

.popup{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28%;
  background: #FFFFFF;
  padding: 5px;
  transform: translate(-50%, -50%);
  border-radius: 4%;
  padding-top: 60px;
}

/* Стиль для кнопок */
.btn-close{
  position: absolute;
  top: 30px;
  right: 30px;
}

#openCreateUserModalBtn{
  color: #FFFFFF!important;
  border: none;
  background-color: #a06623!important;
  margin: auto;
}

#openCreateUserModalBtn:hover{
  background-color:  #d6a86c!important;
  color: #FFFFFF!important;
}

table .delete-row,
table .edit-row {
  background-color: #d6a86c;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 2%;
}

table .delete-row:hover,
table .edit-row:hover {
  opacity: 0.8;
  background-color: #a06623;
}

button.buttons-pdf {
  background-color: #e8c69a;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 3%;
  margin-left: 5%;
}

button.buttons-pdf:hover {
  background-color: #d6a86c;
}